body {
    margin: 0;
    padding: 0;
    background: #898989;
}

.cabeza {
    background-color: #222222;
    width: 100%;
    height: 80px;
}

.letras {
    margin-top: 3%;
    font-size: 18px;
}

.fondo {
    background-color: #b2e1e3;
    height: 800px;
    
}
.parrafo {
    margin-top: 2%;
    font-size: 18px;
}
.occiones select {
    margin-top: 35%;
    font-size: 18px;
    background-color: #fc942d;
    color: white;
    height: 26px;
    width: 250%;
}
.punto {
    margin-left: 0;
    margin-top: 35%;
    font-size: 18px;
}
.respuesta{
    margin-left: 0;
    margin-top: 2%;
    font-size: 18px;
}
option {
    font-weight: normal;
    display: block;
    white-space: pre;
    min-height: 1.2em;
    padding: 0px 2px 1px;
    padding-top: 0px;
    padding-right: 2px;
    padding-bottom: 1px;
    padding-left: 2px;
}

/* estilo para la caja del imagen */
.cajita {
    background-image: url(http://4.bp.blogspot.com/-bJqL4FP_YiE/VS5-Z2qU-fI/AAAAAAAAO3w/OcU-hIGpNjc/s1600/17.gif);
    height: 500px;
    width: 100%;
    margin-top: 15%;
}
.cajita .img {
    background-color: white;
    margin-top: 3%;
    margin-left: 3%;
    border-style: double;
    color: white;
    height: 380px;
    width: 35%;
}
.cajita .pInput {
    background-color: #b2e1e3;
    height: 380px;
    width: 59%;
    margin-left: 0%;
    margin-top: 3%;
    color: black;
}
.pInput1 {
    margin-top: 10%;
    margin-left: 10%;
}
.pInput1 p {
    font-size: 18px;
}
.pInput1 input {
    margin-top: 1%;
    font-size: 15px;
    height: 40px;
    width: 80%;
}

/* .cajita1 {
    background-color: aqua;
    height: 200px;
    width: 50%;
    margin-left: 26%;
    margin-top: 40%;
} */


/*------------- estilo de mi boton -------------*/
.buton input {
    background-color: #fc942d;
    align-content: center;
    border-radius: 6px;
    margin-left: 10%;
    margin-top: 8%;
    height: 50px;
    width: 30%;
}
.coders {
    height: 100px;
    width: 200%;
    
}


/*--------- estilo para mi footer --------*/
footer {
    background-color: #fc942d;
    color: black;
    font-size: 20px;
    margin: 0;
    padding: 0;
    height: 60px;
    width: 100%;
    
}


